<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195494854096-0q44dq646h5gprgn6r9r0jf8sqhl1nfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195494854096-0q44dq646h5gprgn6r9r0jf8sqhl1nfc</string>
	<key>API_KEY</key>
	<string>AIzaSyD5o0hPJ13ckqlU1hFethvioYrMt0jLqLc</string>
	<key>GCM_SENDER_ID</key>
	<string>195494854096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.velozion.PFASystemTask</string>
	<key>PROJECT_ID</key>
	<string>pfatask-5ca4a</string>
	<key>STORAGE_BUCKET</key>
	<string>pfatask-5ca4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195494854096:ios:25d912743645c0a40c0dd5</string>
	<key>DATABASE_URL</key>
	<string>https://pfatask-5ca4a.firebaseio.com</string>
</dict>
</plist>